body {
  background-color: #f9f7fe;
}
.weather-app {
  max-width: 800px;
  background-color: #fff;
  display: block;
  margin: 0 auto;
  margin-top: 60px;
  padding: 40px;
  border-radius: 16px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  color: rgba(39, 33, 66, 0.4);
  font-family: Cerebri-Sans, Helvetica, Arial, sans-serif;
}
.weather-app form {
  border-bottom: 1px solid #f9f7fe;
  margin-top: 40px;
  padding-bottom: 30px;
}
.weather-app .search-input {
  background-color: #f9f7fe;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  height: 50px;
  padding: 15px 20px;
}

.weather-app .btn-primary {
  background: #885df1;
  border: none;
  font-size: 16px;
  font-weight: 700;
  height: 50px;
  padding: 15px 0;
}
.weather-info {
  margin-top: 20px;
}
.weather-app h1 {
  color: #272142;
  font-size: 38px;
  font-weight: 700;
  margin: 20px 0 10px;
}
.weather-app ul {
  margin: 0;
  padding: 0;
}
.weather-app li {
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  margin-bottom: 5px;
}
.weather-app li strong {
  color: #f65282;
  font-weight: 400;
}
.weather-info .temperature-container {
  margin-top: 30px;
}
.weather-icon {
  width: 52px;
  height: 52px;
  margin: 10px 0;
}
.temperature {
  color: #212121;
  font-size: 80px;
  font-weight: 400;
  font-weight: 700;
  line-height: 1;
  margin-left: 10px;
}
.units {
  color: #212121;
  font-size: 28px;
  font-weight: 400;
}
.forecast {
  border-bottom: 1px solid #f9f7fe;
  margin: 40px 0;
  padding-bottom: 50px;
  text-align: center;
}
.forecast-icon {
  display: block;
  margin: 20px auto;
}
.forecast-temperature {
  color: #f65282;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
}
.forecast-temperature-min {
  margin-left: 10px;
  opacity: 0.6;
}
footer {
  font-size: 14px;
}
footer a {
  color: #885df1;
}
